﻿@model Asp1.Models.Elektronik
@{
    ViewBag.Title = "Tampil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tampil</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Merek</th>
        <th>Harga</th>
        <th>Jenis</th>
        <th>Warna</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Merek</td>
        <td>@Model.Harga</td>
        <td>@Model.Jenis</td>
        <td>@Model.Warna</td>
    </tr>
</table>