﻿
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>NO.KTP</th>
        <th>Alamat</th>
        <th>NO.HP</th>
        <th>Tanggal Lahir</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Nama</td>
        <td>@Model.NoKTP</td>
        <td>@Model.Alamat</td>
        <td>@Model.NoHP</td>
        <td>@Model.TanggalLahir</td>
    </tr>
</table>

